/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.env
.env.*
!env.example
/.phpunit.cache
/.phpunit.result.cache
/.idea
/.vscode
/.fleet
*.log
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
auth.json
.qodo
